# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

vendor

sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

core/phpcs.xml
core/phpunit.xml

sites/simpletest
