{#
/**
 * @file
 * Default theme implementation for accordion wrapper.
 *
 * Available variables:
 * - accordion_wrapper_id
 * - type
 * - class
 * - content
 */
#}

<div id="{{ accordion_wrapper_id }}" class="panel-group {{ type }} {{ class }}">{{ content }}</div>
