body:not(.ie) .flip-box{
	display:block;
	position:relative;
	z-index:2;
	backface-visibility:hidden;
	background:none repeat scroll 0 0 transparent;
	height:auto;
	text-align:center;
	width:99%;
}
body:not(.ie) .flip-box img{
	margin:20px auto;
	max-width:100%;
}
body:not(.ie) .flip-box .inner{
	perspective:100px;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:
	preserve-3d;
	-webkit-perspective:100px;
	-moz-perspective:100px;
	-webkit-transition:all 1000ms cubic-bezier(0.175,0.885,0.32,1.275);
	-moz-transition:all 1000ms cubic-bezier(0.175,0.885,0.32,1.275);
	-o-transition:all 1000ms cubic-bezier(0.175,0.885,0.32,1.275);
	-ms-transition:all 1000ms cubic-bezier(0.175,0.885,0.32,1.275);
	transition:all 1000ms cubic-bezier(0.175,0.885,0.32,1.275);
}
body:not(.ie) .flip-box .front,body:not(.ie) .flip-box .back{
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}
body:not(.ie) .flip-box .front{
	 background-clip:padding-box;
	 border:1px solid #eceef0;
	 border-radius:2px;
	 box-sizing:border-box;
	 display:block;
	 height:auto;
	 padding:90px 20px;
	 width:100%;
	 z-index:8;
 }
body:not(.ie) .flip-box .back{
	transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	width:100%;
	background-color:#3296DC;
	border:1px solid #eceef0;
	border-radius:2px;
	box-sizing:border-box;
	color:#fff;display:block;
	height:100%;left:0;
	overflow:hidden;
	padding:20px;
	position:absolute;
	top:0;
}
body:not(.ie) .flip-box:hover .inner{
	transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
}
body:not(.ie) .flip-box:hover .inner .front{
	z-index:-1 !important;
}
body:not(.ie) .flip-box:hover .inner .back{
	z-index:0 !important;
}
